.bar {
  padding: 8px 16px;
  background-color: var(--bg-color-primary);
  color: var(--text-color);
  min-height: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.bar p {
  font-size: 0.75em;
  font-weight: 600;

  .count {
    padding: 0 4px;
    color: var(--text-color-constrast);
    text-transform: capitalize;
    background-color: var(--text-color-dark);
    border-radius: 3px;
    min-width: 14px;
    display: inline-block;
    text-align: center;
  }

  .comparision {
    padding: 0 4px;
    border-radius: 3px;
    background-color: var(--primary-color);
    color: var(--text-color-dark);
    font-size: 0.9em;
    text-align: right;
    text-transform: capitalize;
  }
}