.bar {
  padding: 6px 12px;
  background-color: var(--bg-color-primary);
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1;

  text-transform: uppercase;
}

.bar p {
  font-size: 0.75em;
  font-weight: 600;
}