.buttonMenu {
  position: relative;
  display: flex;
  .icon {
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    color: var(--text-color);
  }
  .menuContent {
    position: absolute;
    right: 0;
    z-index: 99;
    width: 100px;
    height: 100px;
    background-color: var(--bg-color-theme);
    border-radius: 3px;
    box-shadow: var(--box-shadow-2);
  }
}