.app-header {

  ul {
    list-style: none;
  }

  button {
    height: 24px;
    margin: 0;
    padding: 0;

    line-height: 18px;
    font-size: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;

    border: 0;
    border-radius: 5px;
    box-shadow: none;

    background: #007ACC;
    color: white;
    fill: white;

    img {
      padding: 5px;
    }
  }
}