.editor-panel {
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  overflow: hidden; }
  .editor-panel .editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column; }
    .editor-panel .editor header {
      height: 50px; }
      .editor-panel .editor header label {
        padding: 15px 10px 5px 10px;
        display: block;
        color: #555;
        font-weight: bold; }
    .editor-panel .editor .code {
      flex: 1;
      margin-right: 4px;
      margin-left: 4px; }
