.playground .editor-panel {
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  overflow: hidden; }

.playground .Resizer {
  background: #ccc;
  opacity: .2;
  z-index: 2;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box; }
  .playground .Resizer.horizontal {
    height: 11px;
    margin: -7px 0;
    border-top: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    cursor: row-resize;
    width: 99.2%; }
    .playground .Resizer.horizontal:hover {
      border-top: 5px solid #ccc;
      border-bottom: 5px solid #ccc; }
  .playground .Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
    cursor: col-resize; }
    .playground .Resizer.vertical:hover {
      border-left: 5px solid #ccc;
      border-right: 5px solid #ccc; }
  .playground .Resizer.disabled {
    cursor: not-allowed; }
    .playground .Resizer.disabled:hover {
      border-color: transparent; }
