.footer {
  background-color: var(--primary-color);
  grid-area: footer;
  z-index: 9;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.footer .left {
  display: flex;
  align-items: center;
  flex: 1;
  height: inherit;
}

.footer .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: inherit;
}

.footer p {
  margin: 0;
  color: var(--text-color-contrast);
  font-size: 0.8em;
}

.footer a {
  color: var(--text-color-contrast);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}