.editor {
  height: inherit;
  position: absolute;
  top: 105px;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 10px solid #ededed;
  border-top: 0; }
  .editor .iheader, .editor .idata, .editor .section-json {
    width: 99%;
    height: 100%;
    position: relative;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column; }
    .editor .iheader label, .editor .idata label, .editor .section-json label {
      padding: 15px 10px 5px 10px;
      flex-basis: 20px;
      display: block; }
    .editor .iheader .pane-wrapper, .editor .idata .pane-wrapper, .editor .section-json .pane-wrapper {
      flex: 1;
      position: relative;
      display: block;
      overflow: hidden; }
  .editor .Pane1 {
    overflow: inherit;
    margin-bottom: 10px; }
  .editor .section-json {
    margin-left: 4px; }
  .editor .scroll-decoration {
    box-shadow: none !important; }
