.editor {
  height: inherit;
  position: absolute;
  top: 105px;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 10px solid #ededed;
  border-top: 0; }
  .editor .Pane1 {
    overflow: inherit;
    margin-bottom: 10px; }

.iheader, .idata, .section-io {
  width: 99%;
  height: 100%;
  position: relative;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column; }
  .iheader label, .idata label, .section-io label {
    padding: 15px 10px 5px 10px;
    flex-basis: 20px;
    display: block; }
  .iheader .pane-wrapper, .idata .pane-wrapper, .section-io .pane-wrapper {
    flex: 1;
    position: relative;
    display: block;
    overflow: hidden; }
