.header {
  height: 50px;
  display: flex;
  padding: 0.5rem; }
  .header .logo {
    display: block;
    padding-top: 0.3rem; }
  .header .menu-link li {
    list-style: none;
    display: inline;
    padding: 0.3rem; }
    .header .menu-link li a {
      text-decoration: none;
      color: #232323;
      font-size: 0.9rem; }
