.header {
  height: 50px;
  display: flex;
  padding: 0.5rem; }
  .header .logo {
    display: block;
    padding-top: 0.3rem; }
  .header .menu-link li {
    list-style: none;
    display: inline;
    padding: 0.3rem; }
    .header .menu-link li a {
      text-decoration: none;
      color: #555555;
      font-size: 1rem;
      font-family: Roboto, sans-serif;
      padding-bottom: 0.5rem; }
      .header .menu-link li a:hover {
        border-bottom: 5px solid red; }
