.toolbar{
    // border: 1px solid blue;
    background-color: #ededed;
    width: 100%;
    height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .left{
        padding-left: 0.4rem;
    }

    a{
        text-decoration: none;
        color: #232323;
        font-size: 0.9rem;
        display: inline-block;
        margin-right: 0.3rem;
        margin-right: 0.3rem;
        line-height: 30px;
        padding: 0.4rem;

        &:hover{
            // background-color: gray;
        }

    }
}