:root {

  --app-font: "Open Sans",Helvetica,"Lucida Sans Unicode","Lucida Grande",Arial,Verdana,sansSerif;

  --text-color: #bbbdbf;
  --text-color-light: #999;
  --text-color-contrast: #fff;
  --text-color-dark: #000;
  --text-color-highlight: #ff0000;
  --text-color-error: #dd444a;

  --bg-color-primary: #333333;
  --bg-color-secondary: #1e2429;
  --bg-color-theme: #1e1e1e;
  --bg-color-dark: #2c3137;

  --border-color: #333;

  --primary-color: #0071d1;

  --box-shadow-1: 0px 2px 4px 2px #171a1d;

}

body {
  background-color: var(--bg-color-primary);
  margin: 0;
  font-family: var(--app-font);
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

#root {
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}

.highlight {
  color: var(--text-color-highlight);
}

@import url('./styles/toggle')